/* reset style */
@import url("reset.css");
/* common style */
@import url("common.css");
/* header style */
@import url("header.css");
/* footer style */
@import url("footer.css");

/* ---------- */

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;

	background-color: #222831;
	color: rgba(238, 238, 238, 0.75);
}

/* ---------- */

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

/* ---------- */

.page {
	flex: 1 1 auto;
	padding-top: 85px;
}

/* .page__main {} */

/* .page__about {} */

/* .page__works {} */

/* .page__contacts {} */

@media (max-width: 500px) {
	.page {
		padding-top: 73px;
	}
}

/* ---------- */

[class*="__container"] {
	max-width: 1280px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ----- section-one (main) ----- */

.main {
	padding-top: 93px;
	padding-bottom: 98px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.main__container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.main__content {
	flex: 1 1 auto;
	padding-right: 20px;
}

.main__title {
	font-weight: 700;
	font-size: 96px;
	text-transform: uppercase;
	color: #EEEEEE;
}

.main__title span {
	color: #00ADB5;
}

.main__title:not(:last-child) {
	margin-bottom: 48px;
}

.main__buttons {
	display: flex;
	align-items: center;
	gap: 24px;
}

/* .main__hire-button {} */

/* .main__cv-button {} */

.main__cv-button span {
	padding-right: 34px;
	display: inline-block;
	background: url('../img/icons/download.svg') right no-repeat;
}

.main__image {
	flex: 0 0 42.8%;
	/* 535px/1250px*100%=42.8% */
	text-align: center;
}

.main__image img {
	max-width: 100%;
}

@media (max-width: 1280px) {
	.main {
		padding-top: 50px;
		padding-bottom: 45px;
	}

	.main__container {
		flex-direction: column;
		align-items: stretch;
	}

	.main__content {
		padding-right: 0px;
	}

	.main__title {
		text-align: center;
	}

	.main__buttons {
		justify-content: center;
	}

	.main__image {
		flex: 0 0 auto;
	}
}

@media (max-width: 767.98px) {
	.main {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.main__title {
		font-style: 65px;
	}

	.main__title:not(:last-child) {
		margin-bottom: 25px;
	}
}

@media (max-width: 479.98px) {
	.main__title {
		font-size: 45px;
	}

	.main__buttons {
		gap: 10px;
		flex-direction: column;
		align-items: stretch;
	}
}

/* ----- section-two (about) ----- */

.about {
	padding-top: 116px;
	padding-bottom: 116px;
}

.about__container {
	display: flex;
}

.about__content {
	flex: 1 1 auto;
	padding-right: 20px;
}

/* .about__title {} */

.about__title:not(:last-child) {
	margin-bottom: 20px;
}

.about__text {
	max-width: 390px;
	line-height: 1.5;
}

.about__image {
	text-align: center;
	flex: 0 0 53.2%;
	/* 665px/1250px*100%=53.2% */
}

.about__image img {
	max-width: 100%;
}

@media (max-width: 1280px) {
	.about {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

@media (max-width: 991.98px) {
	.about {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.about__container {
		flex-direction: column;
	}

	.about__content {
		text-align: center;
		padding-right: 0px;
		margin-bottom: 20px;
	}

	.about__text {
		max-width: none;
	}
}

/* ----- section-three (works) ----- */

.works {
	padding-top: 145px;
	padding-bottom: 145px;
	background: url("../img/works/bg.svg") 0 0 repeat;
}

/* .works__container {} */

/* .works__title {} */

.works__title:not(:last-child) {
	margin-bottom: 20px;
}

/* .works__items {} */

/* .items-works {} */

.items-works__navigation {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	margin-bottom: 48px;
}

/* .items-works__type {} */

.items-works__body {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 45px;
}

.items-works__item {
	background: rgba(57, 62, 70, 0.5);
	backdrop-filter: blur(2px);
	border-radius: 16px;
	padding: 45px;
}

.items-works__image {
	position: relative;
	padding-bottom: 59.622642%;
	/* 158px/265px*100%=59.622642% */
}

.items-works__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (max-width: 1280px) {
	.works {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

@media (max-width: 991.98px) {
	.works {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

@media (max-width: 767.98px) {
	.works__title {
		text-align: center;
	}

	.items-works__navigation {
		justify-content: center;
		margin-bottom: 20px;
	}

	.items-works__body {
		gap: 15px;
	}
}

/* ----- section-four (contacts) ----- */

.contacts {
	padding-top: 155px;
	padding-bottom: 155px;
}

.contacts__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 48px;
	align-items: start;
}

/* .contacts__content {} */

/* .contacts__title {} */

.contacts__image {
	text-align: center;
}

.contacts__image img {
	max-width: 100%;
}

/* .contacts__form {} */

.form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

/* .form__item {} */

.form__item:nth-child(3),
.form__item:nth-child(4) {
	grid-column: span 2;
}

.form__label {
	display: block;
	margin-bottom: 10px;
	color: #EEEEEE;
	font-weight: 700;
}

.form__input {
	background: rgba(57, 62, 70, 0.5);
	border-radius: 16px;
	width: 100%;
	padding: 0px 24px;
	color: #FFFFFF;
	height: 59px;
}

textarea.form__input {
	height: 280px;
	resize: vertical;
	padding: 24px;
}

.form__input::placeholder {
	color: rgba(238, 238, 238, 0.5);
	transition: opacity 0.3s ease 0s;
}

.form__input:focus::placeholder {
	opacity: 0;
}

/* .form__button {} */

.form__button span {
	display: inline-block;
	padding-right: 34px;
	background: url('../img/icons/send.svg') right no-repeat;
}

@media (max-width: 1280px) {
	.contacts {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

@media (max-width: 991.98px) {
	.contacts {
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.contacts__container {
		grid-template-columns: auto;
	}

	.contacts__title {
		text-align: center;
	}

	.contacts__image {
		display: none;
	}
}

@media (max-width: 600px) {
	.form {
		flex-direction: column;
		display: flex;
	}

	.form__button {
		width: 100%;
	}
}

/* ---------- */