/* reset style */
@import url("reset.css");
/* common style */
@import url("common.css");
/* header style */
@import url("header.css");
/* footer style */
@import url("footer.css");

/* ---------- */

body {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;

	background-color: #222831;
	color: rgba(238, 238, 238, 0.75);
}

/* ---------- */

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

/* ---------- */

.page {
	flex: 1 1 auto;
	padding-top: 85px;
}

@media (max-width: 500px) {
	.page {
		padding-top: 73px;
	}
}

/* ---------- */

[class*="__container"] {
	max-width: 1280px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ---------- */